{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block body %}

<div class="edit">
    <div class="edit-wrapper">
        {{ form_start(form) }}

            <div class=edit-row>
                {{ form_row(form.titre) }}
            </div>
            <div class=edit-row>
                {{ form_row(form.description) }}
            </div>
            <div class=edit-row>
                {{ form_row(form.date) }}
                {{ form_row(form.prix) }}
            </div>

        {{ form_rest(form) }}

            <button class=btn-edit>Editer</button>

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}