{% extends 'base.html.twig' %}

{% block header %}
    <div class="home-header">
        <form method="post" action="{{ path('selectYear') }}">
            <select name="year">
                {% for option in options %}
                    <option value="{{option}}">{{option}}</option>
                {% endfor %}
            </select>
            <button class="btn-select">
                Valider
            </button>
        </form>

        <div>
            <form class="form-search" action="{{ path('search') }}" method="post">
                <button class="btn-search">Search</button>
                <input type="search" name="search" placeholder="Search...">
            </form>
            <button class="btn-add">
                <a href="{{ path('create_article') }}">Add items</a>
            </button>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="home-body">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom Articles</th>
                    <th>Année</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for item in articles %}
                    <tr>
                        <td><a href="{{ path('show_article', {id: item.id}) }}">{{ item.id }}</a></td>
                        <td><a href="{{ path('show_article', {id: item.id}) }}">{{ item.titre }}</a></td>
                        <td>{{ item.date|date("Y") }}</td>
                        <td>
                            <button class="btn-edit">
                                <a href="{{ path('edit_article', {id: item.id, titre: item.titre}) }}">Edit</a>
                            </button>

                            <button class="btn-delete">
                                <a href="">Delete</a>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}